<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/index.js"></script>

<script src="app.js"></script>
<link rel="stylesheet" href="assets/css/style.css">

<link rel="shortcut icon" href="assets/favicon.jpg">
<head>
    <meta charset="UTF-8">
    <title>Inventory|R2R Admin Dashboard</title>
</head>
<body>
<center>

    <div align="left">

        <button style="font-size: large; display: inline-block; margin-right: 85%" ng-click="logout()">Logout</button>
        <button style="font-size: large; display: inline-block;" ng-click="goHome()">Home</button>

    </div>
    <h1>Room to Read</h1>
    <h3 style="color: #00BCD4">Add a Book</h3>

    <br><br>

    <form style="width: 100%" name="Book">
        <br>
        <h4 style=" display: inline-block; margin-right: 1800px">Name</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" ng-model="name" name="Name" required maxlength="80">
        <br>
        <h4 style=" display: inline-block; margin-right: 1800px">Author</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" name="author" ng-model="author" required maxlength="80">
        <br>
        <h4 style=" display: inline-block; margin-right: 1400px">Cover Image URL</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" name="picurl" ng-model="picurl" required>
        <br>
        <h4 style=" display: inline-block; margin-right: 1800px">Price</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" name="price" ng-model="price" required>
        <br>
        <h4 style=" display: inline-block; margin-right: 1800px">Category</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" name="category" ng-model="category" required maxlength="80">
        <br>
        <h4 style=" display: inline-block; margin-right: 1400px">Trending Status</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" name="trendingStatus" ng-model="trendingStatus" required>
        <br>
        <h4 style=" display: inline-block; margin-right: 1400px">Active Status</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" name="activeStatus" ng-model="activeStatus" required>
        <br>

        <h4 style=" display: inline-block; margin-right: 1800px">Details</h4>
        <input type="text" style=" display: inline-block; margin-right: 500px" name="details" ng-model="details" required maxlength="1200">
        <br>
        <button type="submit" class="button buttonBlue" style="font-family: Futura" ng-click="createListing()" ng-disabled="book.$invalid">Create Listing
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>

    </form>

    <br><br><br>
</center>
</body>
</html>